@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* --royal-blue: #024fc0;
  --deep-sky-blue: #05c3f9;
  --light-gray: #e5e5e5;
  --grey-600: #1a1a1a;
  --grey: #919191;
  --grad-1: #00e4ff;
  --grad-2: #0ab4f9;
  --dark-slate-grey: #005973;
  --light-blue: #f2fcfe; */
  --red: #cd4570;
  --bg-main: #f0f4f9;
  --bg-secondary: #fff;
  --bg-tertiary: #f0f4f9;
  --max-width: 800px;
  --text-muted: #9fafc4;
  --bg-writing: #78cbbc;
  --bg-speaking: #d95d3d;
  --bg-reading: var(--red);
  --bg-math: #6960f3;
  --bg-memory: #e6a946;
  --bg-average: #65b8f0;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--bg-main);
}

#root {
  min-height: 100%;
}
